html, body {
    height:100%;
}

.dotted{
border-style: dotted;
}

.maincontainer{
    height: 20%;
	width: 100%;
    border: 1px solid black;
	display: flex;
	background-color: gray;
	
}

.contentcontainer{
    height: 80%;
	width: 100%;
	background-color: green;
	
}

.menuvertical{
	position: absolute;
	width: 20%;
	height: 80%;
	background-color: black;
}

.itemscontainer{
	left: 20%;
	position: absolute;
	width: 80%;
	height: 80%;
	background-color: blue;
}

.shoppingbasket{
	position: absolute;
    right: 0px;
    width: 30%;
    height: 80%;
	background-color: green;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}