html, body {
    height:100%;
}

.dotted{
border-style: dotted;
}

.headercont{
	position: fixed;
    height: 80px;
	width: 100%;
    border: 1px solid black;
	display: flex;
	background-color: gray;
	
}

.contentcontainer{
	position: absolute;
	top: 80px;
	height: calc(100% - 80px);
	width: 100%;
}

.titlecontainer {
	height: 10%;
	width: 100%;
}

.leftcontainer{
	position: absolute;
	height: 90%;
	width: 50%;
	background-color: green;
}

.rightcontainer{
	position: absolute;
	right: 0px;
	height: 90%;
	width: 50%;
	background-color: red;
}

.listitems-parent{
	position: absolute;
	top:0px;
	height: 80%;
	width: 100%;
	overflow: hidden;
}

.listitems-child{
	position: absolute;
	height: 100%;
	width: calc(100% + 17px);
	overflow-y: scroll;
	background-color: blue;
}


.listitems-footer{
	position: absolute;
	bottom:0px;
	height: 20%;
	width: 100%;	
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}